/* * {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  background: rgb(33, 34, 36);
  width: 100%;
  height: 100%;
  font-family: "robotolight", "Open Sans", "Helvetica", "Arial", sans-serif;
} */

.renderer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 70px;
}

.rendererFullScreen {
  left: 0px;
}
/* 
.hidden {
  display: none;
} */

/* .hiddenPermanent {
  display: none;
} */
